/* styles.css */

/* Post */
.post {
    margin-bottom: 20px;
    margin-left:10%;
    margin-right:10%;
  }
  
  /* Create Comments Section */
  .comment-section {
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Form */
  .comment-form {
    margin-bottom: 20px;
  }
  
  /* Form Input */
  .comment-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  /* Button */
  .comment-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #24809f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .comment-button:hover {
    background-color: #0056b3;
  }
  
  .comments-div {
    padding-top: 10px;
    margin-left: 10%;
  }
  
  /* Comments List */
  .comments {
    list-style-type: none;
    padding: 0;
  }

  .comment-author {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }

.pfp {
    max-width: 3%;
    max-height: 3%;
  }
  
  /* Individual Comment */
  .comment {
    text-align:justify;
    border-radius: 5px;
    padding-bottom: 15px;
  }
  
  
  